<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.core.contenttype.contentTypes">
  <content-type
    id="plugin.proc.PROCFileType"
    name="Pro*C Source File"
    base-type="org.eclipse.cdt.core.cSource"
    file-extensions="pc"
    priority="high">
  </content-type>
</extension>
<extension point="org.eclipse.cdt.core.language">
  <language
    class="plugin.proc.PROCLanguage"
    id="language"
    name="PROC">
    <contentType id="plugin.proc.PROCFileType" />
  </language>
</extension>
<extension point="org.eclipse.cdt.core.CodeFormatter">
  <formatter
    class="plugin.proc.PROCCodeFormatter"
    id="plugin.proc.formatter"
    name="PROC" />
</extension>
<extension point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
  <tool
    command="gcc"
    dependencyCalculator="org.eclipse.cdt.managedbuilder.makegen.gnu.DefaultGCCDependencyCalculator"
    id="plugin.proc.PROCTool"
    name="Pro*C Tool"
    natureFilter="both">
    <option
      id="plugin.proc.include.paths"
      name="Include Paths"
      kind="includePath"
      valueType="includePath" />
    <option
      id="plugin.proc.symbols"
      name="Defined Symbols"
      kind="definedSymbol"
      valueType="definedSymbols" />
    <inputType
      dependencyCalculator="org.eclipse.cdt.managedbuilder.makegen.gnu.DefaultGCCDependencyCalculator"
      dependencyContentType="org.eclipse.cdt.core.cHeader"
      id="plugin.proc.PROCInputType"
      languageId="plugin.proc.language"
      multipleOfType="false"
      primaryInput="false"
      scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
      sourceContentType="plugin.proc.PROCFileType" />
  </tool>
</extension>
</plugin>
