<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.cdt.core.language">
  <language
    class="plugin.proc.PROCLanguage"
    id="editor"
    name="PROC">
    <contentType id="org.eclipse.cdt.core.cSource" />
    <contentType id="org.eclipse.cdt.core.cHeader" />
  </language>
</extension>
<extension point="org.eclipse.cdt.core.CodeFormatter">
  <formatter
    class="plugin.proc.PROCCodeFormatter"
    id="formatter"
    name="PROC"/>
</extension>
</plugin>
